<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pincode</title>
</head>

<body>
    <form action="/" method="post">
        <input type="text" name="pincode" id="pincode" maxlength="6"
            oninput="this.value=this.value.replace(/[^0-9]/g,'').substring(0,6)" required>
        <button type="submit">submit</button>
    </form>


</body>

</html>